body {
    padding-top: 50px;
}

body > .container > footer {
    padding-top: 25px;
}

article.post {
    font-size: 13pt;
}

header.headroom--unpinned {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

header.slide {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
