body {
    padding-top: 50px;
}

.container {
    max-width: 58em;
}

body > .container > footer {
    padding-top: 25px;
}

article.post {
    font-size: 11pt;
    font-family: Oxygen, sans-serif;
}

.navbar-brand {
    font-family: "Finger Paint", cursive;
}

header.headroom--unpinned {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

header.slide {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
