<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link href="/assets/css/style.css" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/assets/css/syntax.css">
    </head>
    <body>
        <header class="navbar navbar-inverse navbar-fixed-top slide">
            <div class="navbar-header"><a class="navbar-brand" href="/">{{ site.name }}</a></div>
            <nav class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a class="extra" href="/">home</a></li>
                </ul>
            </nav>
        </header>
        <div class="container">
            {{ content }}
            <footer>
                <div class="contact">
                    <p>
                        -- j.ohny.b
                    </p>
                </div>
                <div class="contact">
                    <p>
                        <a href="https://github.com/johnyb/">github.com/johnyb</a><br />
                    </p>
                </div>
            </footer>
        </div>

        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/headroom.min.js"></script>
        <script src="/assets/js/jQuery.headroom.min.js"></script>
        <script>
            // Based on code from http://ben.balter.com/2014/03/13/pages-anchor-links/ - MIT licensed
            $(function() {
                return $("article.post h2, article.post h3, article.post h4, article.post h5, article.post h6").each(function(i, el) {
                    var $el, id;
                    $el = $(el);
                    id = $el.attr('id');
                    if (id) {
                        return $el.prepend($("<a />").addClass("header-link").attr("href", "#" + id));
                    }
                });
            });
            // init headroom.js
            $(function () {
                $('header.navbar').headroom();
            });

            // collection: https://www.google.com/fonts#UsePlace:use/Collection:Source+Sans+Pro:300,400|Cabin|Finger+Paint|Oxygen:400,300,700
            WebFontConfig = {
                google: { families: [ 'Finger+Paint::latin', 'Oxygen:400,300,700:latin' ] }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();
        </script>
    </body>
</html>
