<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

	<!-- Bootstrap -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/assets/css/syntax.css">
    </head>
    <body>
        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">home</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  -- j.ohny.b
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="https://github.com/johnyb/">github.com/johnyb</a><br />
                </p>
              </div>
            </div>
          </div>
        </div>
	
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
    </body>
</html>
